<h3 class="text-orange-500 text-sm md:text-lg font-semibold text-center mb-5 capitalize py-5">
    Permission du contrat de franchise
</h3>
<div class="w-full mb-3 ">
    <div class="flex justify-start items-center">

        <ul
                class="globalPermissions flex flex-col lg:justify-start w-full"
        >
            {% for permissionForm in form.globalPermissions %}
                <li class=" w-full flex lg:flex-row flex-wrap lg:flex-nowrap mb-3 mt-5">

                    {{ form_widget(permissionForm.permission, {
                        'attr': {
                            'class': 'rounded  border-solid accent-pink-500 w-full pr-5'
                        },
                        'placeholder': 'Choisissez une permission'
                    }) }}
                    <span class="flex  form-check form-switch  mt-2 lg:mt-0 w-full -ml-10 mr:0 lg:ml-20"
                          id="btn-delete">

            {{ form_label(permissionForm.isActive, "Activer l'option ?", {
                'label_attr': {
                    'class': 'italic text-base  text-orange-400 mr-20'
                }
            }) }}
                        {{ form_widget(permissionForm.isActive,{
                            'attr': {
                                'class': 'form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-orange-300 focus:outline-none cursor-pointer shadow',

                            },
                            'type' :"checkbox",
                            'role' :"switch",
                            'id' :"flexSwitchCheckChecked",
                        } ) }}
        </span>
                </li>
                <hr>
            {% endfor %}

        </ul>
    </div>
</div>
