

    {{ form_start(form) }}

    {% for permissionForm in form.globalPermissions %}
        {{ formMacros.printPermissionRow(permissionForm) }}
    {% endfor %}

    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

