{% extends 'base.html.twig' %}

{% block title %}Ajout d'une nouvelle Salle{% endblock %}

{% block main %}
    {{ include('navigation/_mobil-navigation.html.twig') }}
    {{ include('navigation/_sidebar-menu-desktop.html.twig') }}

    <div class="relative md:ml-60">
        <!-- Header -->
        <div class="bg-orange-500 md:pt-12 pb-32 pt-1 lg:h-max">
            <div class="px-4 md:px-10 mx-auto my-auto w-full">
                {% block mainTop %}
                    {{ include('components/dashboard/content-dashboard/_add-new-subsidiary.html.twig') }}
                {% endblock %}
            </div>
        </div>
        {% block content %}

        {% endblock %}

        {{ include('components/dashboard/content-dashboard/_footer.html.twig') }}
    </div>
{% endblock %}
