<div class=" md:px-10 mx-auto w-full">
    <div class="flex flex-col justify-center items-center -mt-32 w-full  bg-teal-100 rounded shadow-lg ">
        <div class="flex flex-col justify-around items-center md:flex-row md:flex-wrap p-2 w-full m-1 js-filter-content">
            {% include 'components/dashboard/content-dashboard/_partner-card.html.twig' %}
        </div>
        <div class="flex justify-center  items-center js-filter-pagination mb-3">
            {{ knp_pagination_render(partners, 'components/_pagination.html.twig') }}
        </div>
    </div>
</div>