<nav class="
relative
w-full
flex flex-wrap
items-center
justify-between
">
    <!--Mobile top Menu-->
    <!--Sidebar--->
{{ include('components/dashboard/_mobil-navigation.html.twig') }}

</nav>
<!--Desktop SideBar Menu-->
<!--Sidebar--->
{{ include('components/dashboard/_sidebar-menu-desktop.html.twig') }}
