<!-- Jumbotron -->
<div
        class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover"
        style="
                background-image: url('{{ asset('img/running-1.jpg') }}');
                height: 100vh;
                "
>
    <div
            class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.6)"
    >
        <div class="flex justify-center items-center h-full">
            <div class="text-white ">
                <div class="flex justify-center mr-10">
                    <img class="ml-14" src="{{ asset('img/dashboard_logo.png') }}"
                         alt="logo de Lions Fitness Club"
                         style="width: 50%;">
                </div>
                <h2 class="font-title font-bold text-6xl text-orange-400 mb-4 -mt-10">Lions Fitness Club</h2>

                <dic class="flex flex-col justify-between items-center">
                    <a
                            class="inline-block w-60 py-3 mb-1 border-2 border-gray-200 text-gray-200 font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out mb-3 hover:text-teal-400"
                            href="#!"
                            role="button"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light"
                    >Espace Partenaire</a
                    >
                    <a
                            class="inline-block w-60  py-3 mb-1 border-2 border-gray-200 text-gray-200 font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out mb-3 hover:text-teal-400"
                            href="#!"
                            role="button"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light"
                    >Espace Salle</a
                    >
                    <a
                            class="inline-block w-60 py-3 mb-1 border-2 border-gray-200 text-gray-200 font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out hover:text-teal-400"
                            href="#!"
                            role="button"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light"
                    >Espace Team </a
                    >
                </dic>
            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->