<div class="w-full flex justify-center items-center break-words mb-6 shadow-lg rounded bg-teal-100 mx-auto px-4 md:px-10"
>
    <div class="relative pr-4 max-w-10/12 flex-grow flex-1 m-10 p-5 bg-white rounded drop-shadow-lg">
        <h2 class="text-center font-semibold">Options incluses dans le contrat de franchise</h2>
        <div class="flex flex-col justify-center items-center">
            {{ include('components/dashboard/partner-details/_partner-details-global-permissions.html.twig') }}
        </div>
        <div class="flex justify-end">
            <div>
                <a
                        href="{# lien vers edit partner #}"
                        class="border-2 border-orange-200 rounded px-5 py-1 text-base text-zinc-900 hover:border-teal-200">
                    Modifier les options
                </a>
            </div>
        </div>
    </div>
</div>