<div class="w-full lg:w-3/12 font-extra-light  lowercase text-lg text-zinc-900 mb-3">
    {% for permission in partner.globalPermissions %}
        {% if permission.isActive == true %}

                <ul  class="font-extra-light  lowercase text-xs md:text-base text-zinc-900 mb-3">
                    <li>
                        <i class="fa fa-check mr-3 text-zinc-900" style="color:#38B11F"></i>
                        <span>{{ permission.permission.name }}</span>
                    </li>
                </ul>

        {% endif %}
    {% endfor %}
</div>
